.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(149, 195, 226);
    height: 90vh;

}
.formwrapper{
   margin-top: 15vh;
}
.cardStyle{
    width: 35vw;
    padding: 10
}
.margin{
    margin: 10px;
   
}
.Btn{
    margin: 10px;
    background-color: 'rgb(149, 195, 226)';
     color: 'white' 
}
.example{
    position:absolute !important;
}

.error{
    font-size: 12px;
    color: whitesmoke;
    background-color: red;
    padding: 10px;
    margin-left: 5px;
}
@media screen and (max-width: 600px) {
    .cardStyle{
        width: 60vw;
        padding: 2
    }
    .margin{
        margin: 5px
    }
  }

@media screen and (max-width: 300px) {
    .cardStyle{
        width: 90vw;
        padding: 2
    }
    .margin{
        margin: 5px
    }
  }
  